
.form {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 15px;
	margin: 5px;
	width: 40%;
	background-color: #E6E6FA;
}


.input {
	height: 35px;
	width: 100%;

	border: none;
	padding: 0 10px;
	margin-bottom: 10px;

	font-size: 15px;
}

.input:focus {
	outline: none
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;

	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;

	align-self: stretch;
}

.btn:hover {
	cursor: pointer;
}

.error {
	width: 100%;
	text-align: left;
	color: #FF0000;

	margin-bottom: 10px;
}

.redirectInfo {
	display: flex;
	justify-content: space-between;
	align-self: flex-end;
	color: #000;

	margin-bottom: 10px;
}

.redirectText {
	font-size: 16px;
}

.redirectLink {
	margin-left: 10px;
}