
.form {
	width: 100%;
	padding: 15px 10px;

	display: flex;
	justify-content: space-between;

	background-color: #14b5f5;
	border-radius: 5px;
}

.input {
	width: 100%;
}

.actions {
	margin-left: 2px;

	display: flex;
	justify-content: space-evenly;
	gap: 4px;
}

.saveBtn,
.cancelBtn {
	background: none;
	border: none;
}

.cancelBtn {
	font-weight: 900;
	
	padding: 2px 4px;
	font-size: 15px;
}

.saveBtn {
	padding: 2px 4px;
	font-size: 19px;
}

.saveBtn:hover,
.cancelBtn:hover {
	cursor: pointer;
}