
.form {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	margin: 6px 0;

	position: relative;
}

.form__input {
	width: 100%;
	padding: 8px 40px 8px 10px;

	border-radius: 6px;
}

.form__actions {
	display: flex;
	justify-content: space-between;
	gap: 8px;

	position: absolute;
	top: 40$;
	right: 8px;
}

.close,
.add {
	border: none;
	background: none;
	padding: 0;
}

.close:hover,
.add:hover {
	cursor: pointer;
}

.close {
	font-weight: 900;
}

.add {
	font-size: 20px;
	font-weight: 500;
}