.CardItem {
	width: 100%;
	max-height: 120px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 4px;
	margin-bottom: 15px;

	background-color: #fff;
	border-radius: 7px;

	position: relative;
}

.titleWrapper {
	width: 35%;
	padding: 2px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.description {
	width: 65%;
	height: 100%;
	padding: 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.deleteBtn {
	position: absolute;
	top: 5px;
	right: 10px;

	transform: scale(0);
	transition:
		transform .1s linear,
		fill .2s linear;
}

.CardItem:hover .deleteBtn {
	transform: scale(1);
}

.deleteBtn:hover {
	fill: red;
}