
.profile {
	display: flex;
	flex-direction: column;

	max-width: 300px;
	width: 100%;
}


.header {
	align-self: center;
	margin: 16px 0;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-self: center;
}

.title {

	font-weight: 500;
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.save {
	width: 30px;
	height: 32px;
	padding: 2px 0;

	font-weight: 500;
	font-size: 16px;

	border: none;
}

.edit {
	width: 30px;
	height: 32px;
	padding: 2px 0;
	font-size: 0;
	color: transparent;

	border: none;
	background-color: var(--color-lightblue);
	background-image: url('assets/icons/edit_white.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}


.cancel {
	width: 30px;
	height: 32px;
	padding: 2px 0;

	font-weight: 900;
	font-size: 16px;
	color: #fff;

	border: none;
	background-color: var(--color-red);
}

.edit:hover,
.save:hover,
.cancel:hover {
	cursor: pointer;
}

.input {
	align-self: center;

	padding: 8px;
	font-size: 20px;
	width: 100%;

	margin-bottom: 10px;
}

.logout {
	align-self: center;

	margin-top: 10px;
}


.logout:hover {
	cursor: pointer;
}

