
.profile {
	display: flex;
	flex-direction: column;

	max-width: 300px;
	width: 100%;
}


.header {
	align-self: center;
	margin: 16px 0;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-self: center;
}

.title {
	font-weight: 500;
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.editIcon,
.closeIcon,
.saveIcon {
	width: 1.2rem;
	height: 1.2rem;

	transition: fill .2s linear, transform .2s linear;
}

.editBtn:hover {

	.editIcon {
		fill: blue;
		transform: scale(1.1);
	}

	.closeIcon {
		fill: red;
		transform: scale(1.1);
	}
}


.saveBtn:hover {
	
	.saveIcon {
		fill: green;
		transform: scale(1.1);
	}
}

.input {
	margin-bottom: 12px;
}

.logoutBtn {
	align-self: center;

	margin-top: 10px;
}