
.item {
	display: flex;
	justify-content: space-between;

	font-size: 16px;
	padding: 6px 8px;
	margin-bottom: 15px;

	box-shadow: -1px 8px 25px -12px rgba(0,0,0,0.75);
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 5px;
}

.add {
	border: none;
	border-radius: 5px;

	padding: 4px;
	width: 60px;

	font-weight: 600;
	background-color: var(--color-blue);
	color: #fff;
}

.add:hover {
	cursor: pointer;
}