
.user {
	display: flex;
	justify-content: space-between;

	margin-bottom: 12px;
	padding: 4px 6px;
	
	border: 1px solid black;
}

.button {
	border: none;
	border-radius: 5px;

	padding: 4px 6px;
	font-weight: 600;
	background-color: var(--color-lightblue);
	color: #000;
}

.button:hover {
	cursor: pointer;
}