.form {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 5px;
	height: 125px;

	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;

	position: relative;
}

.form__input {
	width: 34%;

	border-radius: 7px;
	margin-right: 5px;
	padding: 2px;

	border: none;
	resize: none;

	font-family: inherit;
	font-size: 16px;

	transition: 
		border .3s ease-out,
		background-color .2s ease-out;
}

.form__input:focus,
.form__textarea:focus {
	outline: none;
}

.form__separator {
	width: 2px;
	height: 95%;

	border-radius: 5px;
	background-color: #000;
}

.form__area {
	display: flex;
	flex-direction: column;

	width: 65%;
	height: 100%;
	padding: 4px 6px;
}

.form__textarea {
	width: 100%;
	height: 100%;
	padding: 5px;
	font-family: inherit;

	resize: none;

	font-size: 16px;
}

.form__actions {
	position: absolute;
	top: 2px;
	right: 10px;

	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.close,
.save {
	border: none;
	background: none;

	font-weight: 900;
	font-size: 16px;
}

.close:hover,
.save:hover {
	cursor: pointer;
}