.form {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 8px 10px;
	max-height: 155px;

	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;

	position: relative;
}

.input {
	width: 35%;

	font-family: inherit;
}

.textBlock {
	display: flex;
	flex-direction: column;

	width: 60%;
	height: 100%;
	padding: 4px 6px;
}


.textHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.actions {
	display: flex;
	justify-content: space-between;
	gap: 12px;
}

.textArea {
	padding: 5px;
	font-family: inherit;
	font-size: 16px;
	resize: none;
	border: 2px solid #e0e9eb;

	border-radius: 0.310rem;;
	transition: border .2s linaer;
}

.textArea:focus {
	outline: none;
	border-color: #14b5f5;
}