

.list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	width: 100%;
	margin-top: 10px;
	gap: 12px;
}

.item {
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 5px;

	display: flex;
	align-items: center;
	gap: 10px;
}

.item:hover {
	.removeBtn {
		transform: scale(1);
	}
}

.email {
	font-weight: 700;
	margin-bottom: 2px;
}

.login {
	align-self: end;
}

.removeBtn {
	padding: 6px 4px;

	transform: scale(0);
	background-color: orangered;
	transition: transform .2s linear;
}

.removeIcon {
	width: 1rem;
	height: 1rem;

	fill: #fff;
	transition: fill .2s linear;
}

.removeBtn:hover {

	.removeIcon {
		fill: #000;
	}
}