.groups {
	width: 63%;
	margin-left: 15px;

	display: flex;
	flex-direction: column;
}

.list {
	list-style: none;
}

.addBtn {
	border: none;
	width: 100%;
	padding: 12px 0;
	margin: 5px 0;

	background-color: #14b5f5;
	color: #fff;
	transition: color .2s linear;
	
	border-radius: 5px;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}

.addBtn:hover {
	cursor: pointer;
	color: var(--color-grey);
}
