.BacklogItem {
	width: 100%;

	background-color: #fff;
	border-radius: 6px;

	margin-bottom: 8px;
	padding: 8px 10px;

	display: flex;
	justify-content: space-between;

	transition: transform .1s ease-out;
}

.BacklogItem:hover {
	cursor: grab;
}

.name {
	height: 100%;
	width: 100%;
}

.input {
	width: 100%;
	margin-right: 5px;
	padding: 0;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;

	position: relative;
}

.successBtn:hover {
	.successIcon {
		fill: green;
	} 	
}

.successIcon {
	width: .8rem;
	height: 0.8rem;
}

.editIcon,
.closeIcon {
	width: 1rem;
	height: 0.9rem;

	opacity: fill .2s linear;
}

.editBtn:hover {
	.editIcon {
		fill: var(--color-blue);
	}
}

.closeBtn:hover {
	.closeIcon {
		fill: red;
	}
}