.TravelItem {
	display: flex;
	justify-content: space-between;
	align-items: center;


	padding: 15px;
	margin: 10px 0;
	border-radius: 8px;
	box-shadow: -1px 8px 25px -12px rgba(0,0,0,0.75);
}

.TravelItem:hover {
	cursor: grab;
}

.TravelItemDetails {
	display: flex;
	justify-content: space-between;
	align-items: center;


	padding: 15px 0;
	margin: 10px 0;
	border-radius: 8px;
}

.title {
	width: 48%;
	margin-right: 10px;
}

.link {
	text-decoration: none;
	color: inherit;
	font-size: 14px;
}

.linkDetails {
	text-decoration: none;
	color: inherit;
	font-size: 22px;
	font-weight: 500;

	pointer-events: none;
}

.link:hover {
	text-decoration: underline;
}


.input {
	width: 44%;
	padding: 10px;
	font-size: 14px;
	margin-right: 10px;
}

.actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;

	width: fit-content;

	gap: 5px;
	padding: 0 3px;
}

.editBtn,
.deleteBtn {
	width: 32px;
	height: 37px;
	padding: 2px 0;
	font-size: 0;

	border: none;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	color: transparent;
}

.editBtn {
	background-color: var(--color-lightblue);

	background-image: url('assets/icons/edit_white.svg');
}

.deleteBtn {
	background-color: var(--color-red);

	background-image: url('assets/icons/delete.svg');
}

.saveBtn {
	width: 32px;
	height: 37px;
	padding: 2px 0;

	font-weight: 500;
	font-size: 16px;

	border: none;
}

.editBtn:hover,
.deleteBtn:hover,
.saveBtn:hover {
	cursor: pointer;
}