.TravelItem {
	display: flex;
	justify-content: space-between;
	align-items: center;


	padding: 15px;
	margin: 10px 0;
	border-radius: 8px;
	box-shadow: -1px 8px 25px -12px rgba(0,0,0,0.75);
}

.TravelItem:hover {
	cursor: grab;
}

.TravelItemDetails {
	display: flex;
	justify-content: space-between;
	align-items: center;


	padding: 15px 0;
	margin: 10px 0;
	border-radius: 8px;
}

.title {
	width: 48%;
	margin-right: 10px;
}

.link {
	text-decoration: none;
	color: inherit;
	font-size: 14px;
}

.linkDetails {
	text-decoration: none;
	color: inherit;
	font-size: 22px;
	font-weight: 500;

	pointer-events: none;
}

.link:hover {
	text-decoration: underline;
}

.input {
	flex-grow: 1;
	margin-right: 10px;
}

.saveBtn {
	margin-right: 2px;
}

.saveBtn:hover {
	fill: green;
}

.actions {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;

	width: fit-content;

	gap: 5px;
	padding: 0 3px;
}

.editBtn,
.deleteBtn {
	padding: 6px 3px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.editBtn {
	background-color: var(--color-lightblue);
}

.deleteBtn {
	background-color: var(--color-red);
}

.editIcon,
.deleteIcon {
	width: 1.7rem;
	height: 1.7rem;

	transition: transform .2s linear;
} 

.editIcon {
	fill: #fff;
}

.deleteIcon {
	stroke: #fff;
}

.editBtn:hover,
.deleteBtn:hover {
	
	.deleteIcon,
	.editIcon {
		transform: scale(1.1);
	}
}
