
.backlog {
	border-radius: 5px;

	background-color: var(--color-grey);
	padding: 20px 16px;

	width: 35%;
	height: fit-content;
}

.backlog__title {
	font-weight: 500;
}

.backlog__list {
	width: 100%;
	margin: 15px 0;
}

.backlog__footer {
	text-align: right;
}

.add {
	border: none;
	background: none;
	font-weight: 700;
}

.add:hover {
	cursor: pointer;
}

