
.Input {
	display: flex;
	justify-content: space-between;

	box-shadow: 0 0 0 1px #e0e9eb;
	transition: box-shadow .2s linear;

	border-radius: 0.310rem;
	background-color: #fff;
	line-height: 1;
	padding: 2px 0;
	
	overflow: hidden;
}

.sm {
	font-size: 0.875rem;
}

.md {
	font-size: 1rem;
}

.lg {
	font-size: 1.125rem;
}

.InputField {
	border: none;
	height: inherit;
	font-size: inherit;
	padding: 6px 4px;
	width: 100%;
}

.InputField:focus {
	outline: none;
}

.focused {
	border-color: transparent;
    box-shadow: 0 0 0 2px var(--color-lightblue);
}

.addon {
	width: auto;
	margin: 0 4px;
	font-size: inherit;

	display: flex;
	justify-content: center;
	align-items: center;
}