
.list {
	margin-bottom: 18px;
}

.item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 16px;
	padding: 6px 8px;
	margin-bottom: 17px;

	box-shadow: -1px 8px 25px -12px rgba(0,0,0,0.75);
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 5px;
}

.item__info {
	display: flex;
	gap: 12px;
}

.delete {
	padding: 4px;
	font-size: 15px;
	font-weight: 500;
	transition: border-radius .1s linear;
}

.delete:hover {
	border-radius: 5px;
}

.emptyMsg {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	
	margin-bottom: 14px;
	color: var(--color-lightblue);
}

.icon {
	height: 5rem;
	fill: #c8d1d3;
}