.GroupItem {
	width: 100%;
	padding: 15px 10px;
	margin-bottom: 15px;

	background-color: var(--color-lightblue);
	border-radius: 5px;

	display: flex;
	flex-direction: column;
}

.GroupItem:hover {
	cursor: grab;
}

.header {
	margin-bottom: 17px;	
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 20px;
	font-weight: 500;
	color: #fff;
}

.title:hover {
	cursor: text;
}

.input {
	width: 100%;

	margin-right: 10px;
}

.saveBtn {
	margin-right: 4px;
	
	transition: fill .2s linear;
}

.saveBtn:hover {
	fill: green;
}

.actions {
	display: flex;
	justify-content: space-between;
	gap: 5px;

	position: relative;
}

.editBtn,
.closeBtn {
	padding: 4px;
}

.editIcon {
	width: 1rem;
	height: 1rem;
	fill: #fff;

	transition: transform .2s linear;
}

.closeIcon {
	width: 1rem;
	height: 1rem;
	fill: #fff;

	transition: transform .2s linear;
}

.editBtn:hover {

	.editIcon {
		fill: var(--color-blue);
		transform: scale(1.2);
	}
}

.closeBtn:hover {

	.closeIcon {
		fill: red;
		transform: scale(1.2);
	}
}

.addBtn {
	margin-top: 5px;
	color: #fff;

	font-weight: 700;
	align-self: end;
}

.emptyMsg {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	color: #fff;
}

.noteIcon {
	width: 2.4rem;
	height: 2.4rem;
	fill: #efefef;
	margin-bottom: 10px;
}