.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 18px;
}

.search {
	padding: 4px;
	border: 1px solid black;
	border-radius: 0;
}

.search:focus {
	outline: none;
}

.loader {
	position: absolute;
	top: 40%;
	left: 48%;
}