.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	margin-bottom: 18px;
}


.hotkeys {
	display: flex;
	align-items: center;
	gap: 4px;
	width: 65px;
	margin-right: 18px;
}

.loader {
	position: absolute;
	top: 40%;
	left: 48%;
}

.errorMsg {
	text-align: center;	
	margin-top: 50px;
	border: 1px solid rgb(170, 166, 166);
	border-radius: 6px;
	padding: 14px 8px;
}

.errorIcon {
	margin-top: 12px;
	fill: red;
}