@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
	--color-blue: #0000FF;
	--color-lightblue: #14b5f5;
	--color-lightblue-darken: #87CEEB;
	--color-red: #FF4500;
	--color-grey: #D3D3D3;
	--color-pink: #e23e57;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul, ol, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.spinner {
	position: absolute;
	top: 47%;
	left: 47%;
}

.withFullWidth {
	width: 100%!important;
	height: 100%!important;
}