.groups {
	width: 63%;
	margin-left: 15px;

	display: flex;
	flex-direction: column;
}

.add {
	background: none;
	border: none;
	margin: 5px 0;

	font-weight: 700;
	font-size: 14px;
	align-self: end;
}

.add:hover {
	cursor: pointer;
}

.list {
	list-style: none;
}

.item__empty {
	display: flex;
	flex-direction: column;
}

.empty__text {
	margin-bottom: 17px;
	font-weight: 500;
}
